<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload Server</title>
</head>
<body>
    <h1>Welcome to the File Upload Server!</h1>
    <form ref='uploadForm'
          action='/upload'
          method='post'
          encType="multipart/form-data">
        <input type="file" name="file" />
        <input type='submit' value='Upload!' />
    </form>

    <h2>Uploaded Files:</h2>
    <ul>
        <% files.forEach(file => { %>
            <li>
                <a href="/uploads/<%= file %>"><%= file %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
